.background{
    background: url(../imagenes/home-page.jpg) no-repeat;
    background-size: cover;
    height:380px;
    margin: 0auto;
}

.texto-descriptivo-web{
    margin: 50px auto;
    margin: 50px;
    width: 75%;

}

section{
    width: 20%;
    float: left;
    margin-left: 30px;
}

section:last-child{
    margin-left: 0;
}