.background{
    background: url(../imagenes/home-page.jpg) no-repeat;
    background-size: cover;
    height:500px;
    padding: 50px;
}

.texto-descriptivo-web{
    margin: 50px auto;
    width: 75%;
}

article{
    float: left;
    margin: 30px 10px;
    width: 23%;
}

.texto-banner{
    text-align: center;
    margin-top: 60px
}

.buscador{
    margin: 100px 0;
    width: 0 auto;
}

.img-article{
    width: 100%;
}

.texto-imagen{
    position: absolute;
    bottom:0;
}

@media all and (max-width: 600px){
    .article-no-flota{
        clear:both;
    }
}