.background{

    background: url(../imagenes/homepage.jpg) no-repeat;
    background-size: cover;
    height:380px;
    margin: 0auto;
}

.texto-descriptivo-web{
    margin: 0 auto;
    margin-top: 50px;
    width: 64%;
}