#input{
    background-color: white;
    border: 1px solid rgb(200,200,200);
    height: 2rem;
}

#input-buscador{
    @extend #input;
    font-size: 0.8rem;
    margin: 20px;
    padding-left: 20px;
    width: 70%;

}

#texto-buscador{
    @extend #input;
    font-size: 1rem;
    text-transform: uppercase;
    width: 10%;
}

#texto-buscador:hover{
    opacity: .8;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}
