*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
// Se puede unir el .cf:after
.cf:after {
    clear: both;
}

.container{
    margin: 0 auto;
    // al poner a .container en px no es responsive los <article> a pesar de haberlos medido en %
    width: 1200px;
}

body{
    margin: 0;
}

.borde_anuncio{
    border: 1px solid #888;
}